<div class="offcanvas-header">
  <h5 class="offcanvas-title text-primary">{{ 'user info'|uppercase }}</h5>
  <button
    type="button"
    class="btn-close text-reset"
    aria-label="Close"
    (click)="activeOffCanvas.dismiss('Cross click')"
  ></button>
</div>


@if (user$ |async; as user) {
  <div class="offcanvas-body">
    <h6>General</h6>
    <div>
      <strong>ID:</strong> {{ user.id }}
    </div>
    <div>
      <strong>Name:</strong> {{ user.name }}
    </div>
    <div>
      <strong>Username:</strong> {{ user.username }}
    </div>
    <div>
      <strong>Email:</strong> <a href="mailto:{{ user.email }}">{{ user.email }}</a>
    </div>
    <div>
      <strong>Phone:</strong> {{ user.phone }}
    </div>
    <div>
      <strong>Website:</strong> <a class="ps-2" target="_blank" href="http://{{ user.website }}">click here</a>
    </div>

    <hr class="hr"/>
    <h6>Address:</h6>
    <div>
      <strong>Street:</strong> {{ user.address.street }}
    </div>
    <div>
      <strong>Suite:</strong> {{ user.address.suite }}
    </div>
    <div>

      <strong>City:</strong> {{ user.address.city }}
    </div>
    <div>
      <strong>Zipcode:</strong> {{ user.address.zipcode }}
    </div>
    <div>
      <strong>Latitude:</strong> {{ user.address.geo.lat }}
    </div>
    <div>
      <strong>Longitude:</strong> {{ user.address.geo.lng }}
    </div>
    <hr class="hr"/>
    <h6>Company:</h6>
    <div>
      <strong>Name:</strong> {{ user.company.name }}
    </div>
    <div>
      <strong>Catchphrase:</strong> {{ user.company.catchPhrase }}
    </div>
    <div>
      <strong>BS:</strong> {{ user.company.bs }}
    </div>

    <div class="text-end pe-4">
      <button type="button" class="btn btn-outline-secondary" (click)="activeOffCanvas.close('Close click')">
        Close
      </button>
    </div>
  </div>


} @else () {
  <app-loading></app-loading>
}
